:root {
  --color-white: #E5E9F0;
  --color-pink: #e9d3e5;
  --color-yellow: #f5dcaa;
}

* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-padding-top: 1.3em;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
  text-rendering: optimizeLegibility;
  
  background: var(--color-white);
  
  overflow: visible;
}

h1, h2, h3, h4 {
  font-family: 'Garamond', serif;
  line-height: 0.8;
  padding: 0.5em 0;
  position: relative;
}

h1 {
  line-height: 1.2;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.3rem;
}

h4 {
  font-size: 1.2rem;
}

h3::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 45%;
  max-width: 30%;
  width: 7vw;
  height: 0.3rem;
  border-radius: 0.2em;
  background: var(--color-yellow);
  z-index: 0;
}

nav a, footer a {
  text-decoration: none;
  font-style: normal;
}

a {
  font-style: italic;
  transition: 200ms ease-in-out;
  text-decoration-color: var(--color-yellow);
  text-decoration-thickness: 0.2em;
  color: black;
}

a:visited:hover, a:hover {
  text-decoration-color: var(--color-pink);
}

a:visited {
  color: black;
}

p {
  padding-bottom: 1em;
  text-align: justify;
}

.card p {
  padding-top: 0.5em;
  padding-bottom: 0em;
}

ul {
  list-style: none;
}

li {
  list-style-position: inside;
}

ol > li::marker {
  content: "0" counter(list-item) " ";
  color: #ffb625;
  font-weight: bold;
  font-family: "Garamond", serif;
  font-size: 2rem;
}

.site-name {
  font-size: clamp(1.5rem, 7vw, 3.5em);
  letter-spacing: 0.6em;
  text-align: center;
  
  padding: 0.7em 0 0.4em 0;
  margin-left: 0.6em;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.current-nav {
  display: flex;
  width: 100%;
  padding: 0.5em;
  border-bottom: 1px solid #2e34402c;
  background: var(--color-white);
}

.current-nav a {
  color: #2e3440cc;
}

.current-nav a::after {
  content: " › ";
}

.current-nav a:hover {
  color: #2e3440;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
}

.soft-shadow {
  background: var(--color-white);
  box-shadow:  19px 19px 38px #c3c6cc,
              -19px -19px 38px #ffffff;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 7em;
  height: 7em;
  margin: 1.2em;

  border-radius: 50%;

  transition: background ease-in-out 200ms;
}

.menu-item:hover {
  background: var(--color-pink);
}

.active {
  background: var(--color-yellow);
}

.icon {
  width: 2.7em;
  transition: transform ease-in-out 400ms;
}

.menu-item:hover > .icon{
  transform: rotate(360deg);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em 1.5em 3em 1.5em;
}

main {
  max-width: 110ch;
  min-width: 10em;
}

.hero-img {
  width: 100%;
  padding: 2em;
  margin: 1em 0;
  background: var(--color-pink);
  border-radius: 0.4em;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 5em;
  max-width: 110ch;
  width: 100%;
  
  margin-top: 3em;
  border-radius: 0.4em;
}

address, small {
  padding: 0.5em;
}

.card-wrapper, .images-wrapper {
  display: flex;
  flex-direction: column;
}

.card-wrapper {
  margin-top: 5.4em;
}

.card {
  border-radius: 0.5em;
  width: 18em;
  padding: 1em;
  margin-bottom: 1em;
}

.card-heading {
  width: fit-content;
  padding: 0.4em;
  border-radius: 0.4em;
}

.tip {
  background: var(--color-yellow);
}

.info {
  background: var(--color-pink);
}

.card-img {
  margin-top: 0.5em;
  border-radius: 0.5em;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 0;
}

.recipe-wrapper {
  background: #f5dcaa23;
  padding: 0.8em;
  border-radius: 0.4em;
}

.article-img, .method-img {
  width: 100%;
  border-radius: 0.4em;
  image-rendering: auto;
}

.article-img {
  margin-bottom: 0.6em;
}

/* ============================== */
/*         Media queries          */
/* ============================== */
@media screen and (max-width: 800px) {
  .content-wrapper {
    grid-template-columns: 1fr;
  }

  .card-wrapper, .images-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 2em;
  }

  .card {
    margin: 0.8em;
  }

  .method-img {
    width: 14em;
  }

  .tools {
    width: 100%;
  }
}

@media print {
  body {
    background: none;
  }

  nav, footer{
      display: none;
  }

  p {
    page-break-inside: avoid;
  }

  .site-name {
    padding-bottom: 0;
  }

  .soft-shadow {
    box-shadow: none;
  }

  .content-wrapper {
    grid-template-columns: 1fr;
  }

  .card-wrapper, .images-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
  }

  .card-wrapper {
    margin-top: 5em;
  }

  .preparation {
    page-break-before: always;
  }

  .card {
    margin: 0 0.8em;
    background: none;
  }

  .method-img {
    width: 13em;
  }

  .tools {
    width: 100%;
  }
}